############################### Encryptions #########################
JWT_ACCESS_TOKEN_SECRET=qpG7uVzL1fM9EwN4mX5eKuRj8sQbZ2cH
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_SECRET=tR6zYcVpQmW8hKs4XeJ9nDaUfBtLg7QrwN4mX5eKuRj8sQ
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=43200
#####################################################################

############################### Database ############################
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost/fastapi-architecture
#####################################################################
